<%- contentFor('title') %>
Tumbler

<%- contentFor('body') %>
<h1>Bem vindo ao Tumbler</h1>
<br>
    <div class="container">
        <% for(post of posts) { %>
        <div class="card mx-auto" style="width: 35.3rem;">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link disabled"><%= post.perfil.nome %></a>
                  </li>
                </ul>
              </div>
            <div class="card-body">
              <h5 class="card-title"><%= post.titulo %></h5> 
              <p class="card-text"><%= post.conteudo %></p>
            </div>
          </div>
          <br>
        <% } %>
      </div>
