<%- contentFor('title') %>
Tumbler

<%- contentFor('body') %>
<h1>Bem vindo ao Tumbler</h1>
<br>
    <div class="container">
        <% for(post of posts) { %>
        <div class="card mx-auto" style="width: 35.3rem;">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link disabled"><%= post.perfil.nome %></a>
                  </li>
                </ul>
              </div>
              <% if(post.tipo === 'image') { %>
                <img src="/<%= post.path %>" class="img-fluid">
                <p class="card-text legenda"><%= post.legenda %></p>
             <% } else  { %>
                <div class="card-body">
                <h5 class="card-title"><%= post.titulo %></h5> 
                <p class="card-text"><%= post.conteudo %></p>
                </div>
             <% } %>
            </div>
          </div>
          <br>
        <% } %>
          <%- include('includes/pagination.ejs', {currentPage: currentPage, hasNextPage: hasNextPage, nextPage: nextPage, hasPreviousPage: hasPreviousPage, lastPage: lastPage}) %>
      </div>