<%- contentFor('title') %>
Tumbler

<%- contentFor('body') %>
<h1>Bem vindo ao Tumbler <%= perfil %></h1>
<br>
    <br>
    <br>
    <% if (errorMessage) {%>
        <div class="error"><%= errorMessage %></div>
        <br>
    <%}%>
    <div class="container">
        <% for(post of posts) { %>
            <% if (user.perfisSeguidos.includes(post.perfil._id) === false && user.perfilPrincipal.toString() !== post.perfil._id.toString()) { %>
                <div class="card mx-auto" style="width: 35.3rem;">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link disabled"><%= post.perfil.nome %></a>
                        </li>
                        <li class="nav-item">
                            <form method="POST" action="follow"> 
                                <input type="hidden" name="perfilId" value=<%= post.perfil._id %>>
                            <button class="btn btn-link nav-link" type="submit">Follow</button>
                            </form>
                        </li>
                        </ul>
                    </div>
                    <% if(post.tipo === 'image') { %>
                        <img src="/<%= post.path %>" class="img-fluid">
                        <p class="card-text legenda"><%= post.legenda %></p>
                    <% } else  { %>
                        <div class="card-body">
                        <h5 class="card-title"><%= post.titulo %></h5> 
                        <p class="card-text"><%= post.conteudo %></p>
                        </div>
                    <% }%>
                    </div>
                </div>
                <br>
            <% } %>
        <% } %>   
        <%- include('includes/pagination.ejs', {currentPage: currentPage, hasNextPage: hasNextPage, nextPage: nextPage, hasPreviousPage: hasPreviousPage, lastPage: lastPage}) %>
        </div>
        <% console.log(posts.length)%>

<!-- acho que o problema da paginação está na forma como os posts estão sendo mostrados (dividos em follow, unfollow e self), os posts ocultos ainda estão contando para a paginação  >:(  -->